<h3>Editar categoria</h3>
<div class="card">
    <form action="/admin/categorias/edit" method="post">
    <input type="hidden" name="id" value="{{categoria._id}}">
    <div class="card-body">
        <label for="nome">Nome: </label>
        <input type="text" id="nome" name="nome" placeholder="Nome da categoria" class="form-control" value="{{categoria.nome}}">
        <label for="slug">Slug: </label>
        <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control" value="{{categoria.slug}}">
        <br>
        <button type="submit" class="btn btn-success">Editar categoria</button>
    </form>
</div>
</div>