{{#if success_msg}} <!-- Se houver mensagem de sucesso -->
    <!-- Ele irá mostrar -->
    <div class="alert alert-success">{{success_msg}}</div>

{{/if}}

{{#if error_msg}} <!-- Se houver mensagem de erro -->
    <!-- Também irá mostrar -->
    <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}